*{
	margin: 0;
	padding: 0;
	
}
body{
	width: 100%;
	height: 100%;
}
.wxjq_box{
	width: 16rem;
	
	margin: 0 auto;
	
}

.wxjqtop{
	width: 16rem;
	height: 3.2rem;
	
	
}
.wxjqtop img{
	width: 16rem;
	height: 3.2rem;
	
	
}

.wxjqsh{
	width: 16rem;
	height: 4rem;
	text-align: center;
	line-height: 4rem;
}
.wxjqsh h2{
	font-size: 2rem;
	font-weight: bold;
	
}

.wxjqshnr{
	width: 16rem;
	height: 3.55rem;
	border-bottom: 1px solid #CCCCCC;
}
.wxjqshnr img{
	width: 2rem;
	height: 2rem;
	float: left;
	margin: 0.4rem 0 0 0.5rem;
	
	border-radius: 50%;
	border: 1px solid #CCCCCC;
}

.wxjqshnr_c{
	width: 7rem;
	height: 3.55rem;
	float: left;
	margin-left: 0.5rem;
}
.wxjqshnr_c top{
	width: 7rem;
	height: 2rem;
	text-align: center;
	display: block;
	font-size: 1.5rem;
	line-height: 2rem;
	
}
.wxjqshnr_c p{
	width: 7rem;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	
}

.wxjqshnr_l{
  width: 5.5rem;	
	height: 3.55rem;
	float: left;
		position: relative;
		
}
.wxjqqq{
	width: 5.5rem;
	height: 3.55rem;	
	float: left;
	position: absolute;
	top: 0.3rem;
	left: 0;
}
.wxjqqq button{
	width: 1.8rem;
	height: 3rem;
	border:0;	
	padding:0;	
	text-align: center;
	float: left;
	background: red;
}
.wxjqjian{
	width: 1rem;
	height: 3rem;
	float: left;
	font-size: 1rem;
	color: #CCCCCC;
	position: absolute;
	left: 4rem;
	top: 1rem;
}

.wxjq_add{
	width: 16rem;
	height: 8rem;

	margin-top: 1rem;
	
}
.wxjq_add textarea{
	width: 10rem;
	height: 6rem;
	margin-left: 3rem;
	
}
.wxjqadd1{
	width: 4rem;
	height: 1.2rem;
	margin-left: 10rem;
}


