.Y_login{
	width:100%;
	height:100%;
}
.Ygs_bg{
	width:100%;
	height:100%;
	
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.Ygs_jb{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
	background: -webkit-linear-gradient(left top, red , blue)
}
.Ygs_th{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	opacity:0.5;
	
}
.Ygs_jb_t{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:4;
	background:url(../images/Y_kjbg.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.Y_logos{
	width:7.35rem;
	height:3.975rem;
	margin:0 auto;
	background:url(../images/logo.png);
	background-size:100% 100%;
	margin-top:3.625rem;
}
.Y_impor{
	width:100%;
	height:5.75rem;
	margin-top:3rem;
}

.Y_impor_top{
	width:100%;
	height:2.5rem;
	overflow: hidden;
	background: white;
	opacity: 0.8;
}
.Y_impor span{
	display:block;
}
.Y_user{
	width:1.15rem;
	height:1.15rem;
	float:left;
	margin-top:0.75rem;
	margin-left:0.75rem;
	background:url(../images/y_user.png);
	background-size:100% 100%;
}
.Y_username{
	width:14rem;
	height:2.5rem;
	float:right;
	
}
.Y_username input{
	width:12.875rem;
	height:0.425rem;
	display:block;
	padding:1.3rem 1.3rem;
	border:0;
	font-size:0.7rem;
	background: white;
}
.Y_impor_bottom{
	width:100%;
	height:2.5rem;
	background:white;
	opacity:0.8;
	margin-top:0.075rem;
	overflow:hidden;
}
.Y_pass{
	width:1.15rem;
	height:1.15rem;
	float:left;
	margin-top:0.75rem;
	margin-left:0.75rem;
	background:url(../images/y_ps.png);
	background-size:100% 100%;
}
.Y_ps input{
	width:14rem;
	height:0.425rem;
	display:block;
	padding:1.3rem 1.3rem;
	border:0;
	font-size:0.7rem;
	float:right;
}
.Y_your{
	width:14rem;
	height:auto;
	margin:0 auto;	
	margin-top:5rem;
	overflow: hidden;
}
.y_For{
	width:10rem;
	height:0.8rem;
	font-size:0.7rem;
	color:black;
	text-align:center;
	display:block;
	float:left;
}
.y_zhuce{
	width:4rem;
	height:0.8rem;
	font-size:0.7rem;
	color:black;
	display:block;
	float:right;
	text-decoration:underline;
}
.Y_sign{
	width:13.125rem;
	height:2.5rem;
	margin:0 auto;
	background:#064f82;
	text-align: center;
	display:block;
	font-size: 0.6rem;
	font-weight: bold;
	color:white;
	line-height:2.5rem;
	border-radius:0.155rem;
	margin-top:1rem;
	border:0;
}

#close{ 
	background:url(../images/close.png) no-repeat;
	width:30px; 
	height:30px; 
	cursor:pointer; 
	position:absolute; 
	right:5px; 
	top:10px; 
	text-indent:-999em;
	}
#mask{ 
	background-color:#ccc;
	opacity:0.5;
	filter: alpha(opacity=50); 
	position:absolute; 
	left:0;
	top:0;
	z-index:1000;
	}
#login{ 
	position:fixed;
	z-index:1001;
	}
.loginCon{ 
	position:relative; 
	width:12rem;
	height:7rem;
	background: rgba(255,255,255,.7);
	border-radius:0.125rem;
	text-align:center;
	line-height:7rem;
	font-size:0.8rem;
}








