.Y_restiger{
	width:100%;
	height:100%;
}
.Ygs_bg{
	width:100%;
	height:100%;
	background-repeat:no-repeat;
	background-size:100% 100%;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
.Ygs_jb{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
	opacity:0;
	background: -webkit-linear-gradient(left top, red , blue)
}
.Ygs_th{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:3;
	opacity:0.2;
	
}
.Ygs_jb_t{
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:4;
}
.Y_logo{
	width:7.35rem;
	height:3.975rem;
	margin:0 auto;
	background:url(../images/logo.png);
	background-size:100% 100%;
	margin-top:3.625rem;
}
.Y_shuru{
	width:100%;
	height:auto;
	margin-top:2.5rem;
		
 	
}	
.Y_shuru span{
	display:block;
}
.Y_r_user{
	width:80%;
	height:1.5rem;
	overflow: hidden;
	margin:0 auto;
	border-radius:0.225rem;
	background:white;
	opacity: 0.8;
	
}



.Y_u_n{
	width:5.5rem;
	height:1.5rem;
	float:left;
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	border:0;
	margin-left:1rem;
	font-size:0.5rem;
}

.Y_xp{
	width:5.5rem;
	height:1.5rem;
	float:left;
	line-height:1.5rem;
	font-size:0.6rem;

	
	
}
.Y_r_ps{
	width:80%;
	margin:0 auto;
	border-radius:0.225rem;
	height:1.5rem;
	overflow: hidden;
	margin:0 auto;
	border-radius:0.225rem;
	margin-top:0.5rem;
	background:white;
	opacity: 0.8;
}

.Y_u_p{
	width:5.5rem;

	height:1.5rem;
	float:left;
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	border:0;
	margin-left:1rem;
	font-size:0.5rem;
	
	
}

.Y_p_xp{
	width:5.5rem;
	height:1.5rem;
	float:left;
	line-height:1.5rem;
	font-size:0.6rem;
	
}
.Y_p_ps{
	width:80%;
	margin:0 auto;
	border-radius:0.225rem;
	height:1.5rem;
	background: white;
	opacity: 0.8;
	overflow: hidden;
	margin-top:0.5rem;
	
}


.Y_u_m{
	width:5.5rem;
	
	height:1.5rem;
	float:left;
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	border:0;
	margin-left:1rem;
	font-size:0.5rem;
	
}

.Y_e_xp{
	width:5.5rem;
	
	height:1.5rem;
	float:left;
	line-height:1.5rem;
	font-size:0.6rem;
}
.Y_r_t{
	width:80%;
	margin:0 auto;
	border-radius:0.225rem;
	height:1.5rem;
	background: white;
	opacity: 0.8;
	overflow: hidden;
	
	margin-top:0.5rem;
}

.Y_u_t{
	width:5.5rem;
	
	height:1.5rem;
	float:left;
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	border:0;
	margin-left:1rem;
	font-size:0.5rem;

}

.Y_t_xp{
	width:5.5rem;
	
	height:1.5rem;
	float:left;
	line-height:1.5rem;
	font-size:0.6rem;
}
.Y_n{
	width:80%;
	margin:0 auto;
	border-radius:0.225rem;
	height:1.5rem;
	background:white;
	opacity: 0.8;
	overflow: hidden;
	
	margin-top:0.5rem;
	
}

.Y_u_nc{
	width:5.5rem;
	
	height:1.5rem;
	float:left;
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	border:0;
	margin-left:1rem;
	font-size:0.5rem;
	
}

.Y_e_nc{
	width:5.5rem;
	
	height:1.5rem;
	float:left;
	line-height:1.5rem;
	font-size:0.6rem;
}
#load{
	width:10rem;
	height:2.3rem;
	margin:0 auto;
	background:#064f82;
	text-align: center;
	display:block;
	font-size: 0.6rem;
	font-weight: bold;
	color:white;
	line-height:2.3rem;
	border-radius:0.155rem;
	margin-top:1rem;
	border:0;
}
