<div class="wx_cssbox" ng-controller="cssCtrl">
	<div class="wxcsstop">
			<img src="../images/wxtop.jpg" />		
		</div>
	
	<div class="wxcsssh">				
				<h2>css</h2>							
			</div>	
	
	<div class="wxcssshnr">
		<img src="../favicon.ico" />	
		<div class="wxcssshnr_c">
			<top>css</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxcssshnr_l">					
				
				<div class="wxcssqq" ng-show="tongcss">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxcssjian" ng-click="wxcss()" ng-show="wxjiancss">></p>
					
				</div>
			
			</div>
	
	
	
	
	<div class="wxcss_add">
		
		<textarea>
			
		</textarea>
		<button class="wxcssadd1">添加</button>
		
	</div>
	
	
	
	
	
	
	
	
</div>
