<div class="wx_box" ng-controller="cssCtrl">
	<div class="wxtop">
			<img src="../images/wxtop.jpg" />		
		</div>
	
	<div class="wxsh">				
				<h2>css</h2>							
			</div>	
	
	<div class="wxshnr">
		<img src="../favicon.ico" />	
		<div class="wxshnr_c">
			<top>css</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxshnr_l">					
				
				<div class="wxqq" ng-show="tong">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxjian" ng-click="wxj">></p>
					
				</div>
			
			</div>
	
	
	
	
	<div class="wx_add">
		
		<textarea>
			
		</textarea>
		<button class="wxadd1">添加</button>
		
	</div>
	
	
	
	
	
	
	
	
</div>
