<div ng-controller="grxgCtrl" class="Y_grxg">
<div class="Y_box"></div>
<div class="Y_wrap"></div>
<div class="Y_over"></div>
<div class="Y_con">
	<div class="Y_header">
		<div class="Y_h_top">
			<span class="Y_text">个人中心</span>
			<div class="Y_gsp">
				<a href="javascript:;"><img src="images/Y_jt.jpg" alt=""></a>
				<span ui-sref="shouye">返回</span>
			</div>
		</div>
		<p class="Y_banner"><img src="images/Y_banner.jpg" alt=""></p>
		
	</div>
	<div class="Y_tou">
		<div class="image"><img class="addImg" src="images/Y_su.jpg" /></div>
		<div class="img_add">
			<input type="file" id="file"/>
			<div class="boxx">
				{{nicheng}}
			</div>
		</div>
		<p class="Y_jianTou"><img src="images/Y_jianTou.jpg" alt=""></p>
	</div>
	<p class="Y_Xm">
		<span>姓名</span>
		<input type="text" id="xingming" class="username" ng-model="username"/>
		<a href="javscript:;"><img src="images/Y_jianTou.jpg" alt=""></a>
	</p>
	<p class="Y_mm">
		<span>密码</span>
		<input type="password" id="mima" ng-model="password"/>
		<a href="javscript:;"><img src="images/Y_jianTou.jpg" alt=""></a>
	</p>
	<p class="Y_ea">
		<span>邮箱</span>
		<input type="text" id="youxiang" ng-model="email"/>
		<a href="javscript:;"><img src="images/Y_jianTou.jpg" alt=""></a>
	</p>
	<p class="Y_tel">
		<span>手机</span>
		<input type="text" id="shouji" ng-model="tel"/>
		<a href="javscript:;"><img src="images/Y_jianTou.jpg" alt=""></a>
	</p>
	<p class="Y_nicks">
		<span>昵称</span>
		<input type="text" id="nicheng" ng-model="nicheng"/>
		<a href="javscript:;"><img src="images/Y_jianTou.jpg" alt=""></a>
	</p>
	<button id="update">修改</button>
</div>
</div>
