


<div class="wxht_box" ng-controller="htmlCtrl">
	<div class="wxboxfb">
		<a id="shangyige"><</a>
		<p id="wxfb">发表</p>
	</div>
	
	
	
	
	<div class="wxht_add">
		<select class="wxsel">
			<option value="1" name="c">html</option>
			<option value="2" name="c">css</option>
			<option value="3" name="c">js</option>
			<option value="4" name="c">jq</option>
		</select>
		
		<input type="text" id="biao"/>
		<textarea id="nei">
			
		</textarea>
		
		
	</div>
	
	
	<div id="zhezhao">		
		<p></p>	
	</div>
	
	
	
	
	
</div>









