


<div class="wxht_box" ng-controller="htmlCtrl">
	<div class="wxhttop">
			<img src="../images/wxtop.jpg" />		
		</div>
	
	<div class="wxhtsh">				
				<h2>html</h2>							
			</div>	
	
	<div class="wxhtshnr">
		<img src="../favicon.ico" />	
		<div class="wxhtshnr_c">
			<top>html</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxhtshnr_l">					
				
				<div class="wxhtqq" ng-show="tonght">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxhtjian" ng-click="wxht()" ng-show="wxjianht">></p>
					
				</div>
			
			</div>
	
	
	
	
	<div class="wxht_add">
		
		<input type="text" />
		<textarea>
			
		</textarea>
		<button class="wxhtadd1">添加</button>
		
	</div>
	
	
	
	
	
	
	
	
</div>









