<div class="wxjq_box" ng-controller="jqCtrl">
	<div class="wxjqtop">
			<img src="../images/wxtop.jpg" />		
		</div>
	
	<div class="wxjqsh">				
				<h2>jq</h2>							
			</div>	
	
	<div class="wxjqshnr">
		<img src="../favicon.ico" />	
		<div class="wxjqshnr_c">
			<top>jq</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxjqshnr_l">					
				
				<div class="wxjqqq" ng-show="tongjq">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxjqjian" ng-click="wxjq()" ng-show="wxjianjq">></p>
					
				</div>
			
			</div>
	
	
	
	
	<div class="wxjq_add">
		<input type="text" />
		<textarea>
			
		</textarea>
		<button class="wxjqadd1">添加</button>
		
	</div>
	
	
	
	
	
	
	
	
</div>

