<div class="wxjs_box" ng-controller="jsCtrl">
	<div class="wxjstop">
			<img src="../images/wxtop.jpg" />		
		</div>
	
	<div class="wxjssh">				
				<h2>js</h2>							
			</div>	
	
	<div class="wxjsshnr">
		<img src="../favicon.ico" />	
		<div class="wxjsshnr_c">
			<top>js</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxjsshnr_l">					
				
				<div class="wxjsqq" ng-show="tongjs">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxjsjian" ng-click="wxjs()" ng-show="wxjianjs">></p>
					
				</div>
			
			</div>
	
	
	
	
	<div class="wxjs_add">
		<input type="text" />
		<textarea>
			
		</textarea>
		<button class="wxjsadd1">添加</button>
		
	</div>
	
	
	
	
	
	
	
	
</div>
