<div ng-controller="loginCtrl" class="Y_login">
	<!--背景图-->
	<div class="Ygs_bg"></div>
	<!--渐变-->
	<div class="Ygs_jb"></div>
	
<div class="Ygs_jb_t">

	
<p class="Y_logos"></p>	
<div class="Y_impor">
	<p class="Y_impor_top">
		<span class="Y_user"></span>
		<span class="Y_username"><input type="text" class="username" name="username" placeholder="username"  style= "background-color:transparent;"></span>
	</p>
	<p class="Y_impor_bottom">
		<span class="Y_pass"></span>
		<span class="Y_ps"><input type="password" class="password" name="password" placeholder="password"  style="background-color:transparent;"></span>
	</p>
</div>
<p class="Y_your">
	<span class="y_For">Forgot your password?</span>
	<a href="javscript:;" class="y_zhuce">去注册</a>
</p>
<button id="del" class="Y_sign">SIGN IN</button>
</div>

<div class="Ygs_th"></div>
	 
</div>
