<div ng-controller="mainm" class="mainm">
	<header>

		<div class="main  js-slideout-toggle">
			<bb id="mmy" />返回</div>
		<h1><img src="../images/LZW_logo.png" /></h1>
		<div class="input"><img src="../images/LZW_sousuo.png" /></div>

	</header>
	<div>
		<div class="lzw_zhangbi">
		<span>substance</span>
		<span>automatic</span>
		</div>
		<div class="neirong1">
		<!--<div class="neirong" aa="">
		
				<div class="nr_1">
				<b>css的一点兼容问题</b> 
				<b><img src="../images/LZW_love0.png"/><img src="../images/LZW_take.png" style="width: 24px;"/></b>
				<p class="LZW_xiangxi">我叫刘振伟,我 来自山西,啦啦啦啦啦啦啦绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿绿</p>
				<p class="LZW_xiangxi">
					<b style="display:inline-block;width: 100%;height: auto;background: #FFFFFF;">
						<span><img src=""  alt="头像" style="height:1rem;width: 1rem;"/>:这一条真不错楼主太赞了</span><br />
						<span><img src=""  alt="头像" style="height:1rem;width: 1rem;"/>:太喜欢了</span>
					</b>
					
				</p>
				<p class="LZW_xiangxi">
					<textarea style="height: 3rem; width: 100%;border: 0;padding-left: 0.2rem; " placeholder="评论"></textarea>
					
				</p>
			</div>
		</div>-->
			
		</div>
	</div>
</div>
</div>