<div ng-controller="restigerCtrl" class="Y_restiger">
	<!--背景图-->
	<div class="Ygs_bg"></div>
	<!--渐变-->
	<div class="Ygs_jb"></div>
	<div class="Ygs_th"></div>
	
<div class="Ygs_jb_t">
	<p class="Y_logo"></p>
	<div class="Y_shuru">
		<p class="Y_r_user">
			<span class="Y_name">username&nbsp;&nbsp;:</span>
			<input type="text" class="Y_u_n" id="user"/>
			<span class="Y_xp"></span>
		</p>	
		<p class="Y_r_ps">
			<span class="Y_pa">password&nbsp;&nbsp;:</span>
			<input type="password" class="Y_u_p" id="pass"/>	
			<span class="Y_p_xp"></span>
		</p>
		<p class="Y_p_ps">
			<span class="Y_em">Email&nbsp;&nbsp;:</span>
			<input type="text" class="Y_u_m" id="email"/>
			<span class="Y_e_xp"></span>
		</p>
		<p class="Y_n">
			<span class="Y_nc">nickname&nbsp;&nbsp;:</span>
			<input type="text" class="Y_u_nc" id="nickname"/>
			<span class="Y_e_nc"></span>
		</p>
		<p class="Y_r_t">
			<span class="Y_tel">Tel&nbsp;&nbsp;:</span>
			<input type="text"  class="Y_u_t" id="tel"/>
			<span class="Y_t_xp"></span>
		</p>		
	
		
	</div>
	<button id="load">SIGN IN</button>
	</div>
</div>
