<div ng-controller="restigerCtrl" class="Y_restiger">
	<!--背景图-->
	<div class="Ygs_bg"></div>
	<!--渐变-->
	<div class="Ygs_jb"></div>
	<div class="Ygs_th"></div>
	
<div class="Ygs_jb_t">
	<p class="Y_logo"></p>
	<div class="Y_shuru">
		<p class="Y_r_user">
			<input type="text" class="Y_u_n" id="user" style="background-color:transparent;" placeholder="Username:"/>
			<span class="Y_xp"></span>
		</p>	
		<p class="Y_r_ps">
			<input type="password" class="Y_u_p" id="pass" style="background-color:transparent;" placeholder="Password:"/>	
			<span class="Y_p_xp"></span>
		</p>
		<p class="Y_p_ps">
			<input type="text" class="Y_u_m" id="email" style="background-color:transparent;" placeholder="Email:"/>
			<span class="Y_e_xp"></span>
		</p>
		<p class="Y_n">
			<input type="text" class="Y_u_nc" id="nickname" style="background-color:transparent;" placeholder="Nick:"/>
			<span class="Y_e_nc"></span>
		</p>
		<p class="Y_r_t">
			<input type="text"  class="Y_u_t" id="tel" style="background-color:transparent;" placeholder="Tel:"/>
			<span class="Y_t_xp"></span>
		</p>		
	</div>
	<button id="load">SIGN IN</button>
	</div>
</div>
