		
		<div class="box" ng-controller="shenheCtrl">
		<!---->
		<div class="wxtop">
			<img src="../images/wxtop.jpg" />
			
		</div>
		
		<!---->
		<!---->
			<div class="wxsh">				
				<h2>审核</h2>							
			</div>						
		<!---->	
			<!---->
			<div class="wxshnr">
		<img src="../favicon.ico" />	
		<div class="wxshnr_c">
			<top>css</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxshnr_l">					
				
				<div class="wxqq" ng-show="tong">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxjian" ng-click="wxj">></p>
					
				</div>
			
			</div>
			
			
			
			
			
			<!--<div class="wxshnr">
		<img src="../favicon.ico" />	
		<div class="wxshnr_c">
			<top>css</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxshnr_l">					
				
				<div class="wxqq" ng-show="tong">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>				
					</div>
				<p class="wxjian" ng-click="wxj">></p>
					
				</div>
			
			</div>
			
			
			
			<div class="wxshnr">
		<img src="../favicon.ico" />	
		<div class="wxshnr_c">
			<top>css</top>
			<p>sffgggg</p>
		</div>
			
				<div class="wxshnr_l">					
				
				<div class="wxqq" ng-show="tong">
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>					
					</div>
				<p class="wxjian" ng-click="wxj">></p>
					
				</div>
			
			</div>-->
			
			
			<!---->
			
		</div>
		
		
		
		<!--<div class="wxsj">
			<img src="../favicon.ico">
			<div class="wxsjnr">
				<top>css</top>
				<div class="wxnr">
					无敌王菲菲个人股而非法
					俄方违反飞凤舞恶风恶风
					无敌王菲菲个人股而非法
					俄方违反飞凤舞恶风恶风
				</div>
			</div>
			
			<div class="wxbtn">
				<button>详情</button>
				<button>通过</button>
				<button>未通过</button>
			</div>
			</div>-->
		
		
		
	