		
		<div class="wxbox" ng-controller="shenheCtrl">
		<!---->
		<div class="wxtop">
			<div class="wxtop_l"><img src="../images/LZW_main.png"></div>
			<div class="wxtop_c"><img src="../images/LZW_logo.png"></div>
			<div class="wxtop_r"><img src="../images/LZW_sousuo.png"></div>
		</div>
		
		<!---->
		<!---->
			<div class="wxsh">				
				<h2>审核</h2>							
			</div>						
		<!---->	
			<!---->
			<div class="wxshnr_box" >
			<div class="wxshnr" >
		<!--<img src="../favicon.ico" />	
		<div class="wxshnr_c">
			<top id="wxtuo">sffef</top>
			
			<p id="wxp">fefff</p>
		</div>
			
				<div class="wxshnr_l">									
				<div class="wxqq"  >
				<button>通过</button>	
				<button>未通过</button>	
				<button>详情</button>			
					</div>
				<p class="wxjian">></p>					
				</div>-->
			
			</div>
				</div>
			
			
			
			
			
			
		</div>
		
		
		
	
		
		
	