<div ng-controller="shouye" class="shouye">
	<div id="menu" class="menu">
		
		<header class="menu-header">
			<span class="menu-header-title" style="color: #FFFFFF;">{{user}}</span>
			<p class="hedaPhoto" cc="">
				<!--<img src="../images/LZW_bj2.png" />-->
				<img src="http://192.168.43.116:3234/upload/'{{img}}'"/>
			</p>
		</header>
	
	<section class="menu-section">
		<h3 class="menu-section-title">脚本代码</h3>
		<ul class="menu-section-list    ul1">
			
			<li class="baba"  start1="0"><a >CSS</a></li>
			<li class="baba"  start1="1"><a >JS</a></li>
			
			<li class="baba"  start1="2"><a >HTML</a></li>
			<li class="baba"  start1="3"><a >jQuery</a></li>
		</ul>
	</section>

	<section class="menu-section">
		<h3 class="menu-section-title">flash动画</h3>
		<ul class="menu-section-list">
			<li><a href="#">节日动画</a></li>
			<li><a href="#">flash植物</a></li>
			<li><a href="#">flash动物</a></li>
		</ul>
	</section>

	<section class="menu-section">
		
		
		<h3 class="menu-section-title" id="setout">退出登录</h3>
	</section>
	
	</div>
	<div id="Neirong">
		<header>
		
		<div class="main  js-slideout-toggle" ><img src="../images/LZW_main.png" id="mmy"/></div>
		<h1><img src="../images/LZW_logo.png" /></h1>
		<div class="input"><img src="../images/LZW_sousuo.png"/></div>
		<div class="ul2" style="overflow: scroll;">
			<ul class="ul1" >
			<li  class="baba"start1="0">CSS</li>
			
			<li  class="baba" start1="1">JS</li>
			
			<li  class="baba"start1="2">HTML</li>
			<li class="baba" start1="3">JQuery</li>
		</ul>
		</div>
		
		<div class="push">发布</div>
	</header>
	<div class="lzw_zhangbi">
		<span>substance</span>
		<span>automatic</span>
	</div>
	<div class="neirong1">
		
	</div>
	<h2>休息一下吧,没有了0.0</h2>
	

	</div>
	
	
</div>
