<div ng-controller="shouye" class="shouye">
	<div id="menu" class="menu">
		<a href="script:;">
		<header class="menu-header">
			<span class="menu-header-title">LiuZhenwei</span>
			<p class="hedaPhoto">
				<img src="../images/LZW_bj2.png" />
			</p>
		</header>
	</a>
	<section class="menu-section">
		<h3 class="menu-section-title">脚本代码</h3>
		<ul class="menu-section-list">
			<li><a href="#">jQuery</a></li>
			<li><a href="#">CSS3</a></li>
			<li><a href="#">HTML5</a></li>
			<li><a href="#">动画效果</a></li>
		</ul>
	</section>

	<section class="menu-section">
		<h3 class="menu-section-title">flash动画</h3>
		<ul class="menu-section-list">
			<li><a href="#">节日动画</a></li>
			<li><a href="#">flash植物</a></li>
			<li><a href="#">flash动物</a></li>
		</ul>
	</section>

	<section class="menu-section">
		<h3 class="menu-section-title">音效下载</h3>
		<ul class="menu-section-list">
			<li><a href="#">鸟叫声</a></li>
			<li><a href="#">狗叫声</a></li>
		</ul>
	</section>
		
	</div>
	<div id="Neirong">
		<header>
		
		<div class="main  js-slideout-toggle" ><img src="../images/LZW_main.png" id="mmy"/></div>
		<h1><img src="../images/LZW_logo.png" /></h1>
		<div class="input"><img src="../images/LZW_sousuo.png"/></div>
		<div class="ul2" style="overflow: scroll;">
			<ul class="ul1" >
			<li>JQuery</li>
			<li>JS</li>
			<li>CSS</li>
			<li>HTML</li>
		</ul>
		</div>
		
		<div class="push">发布</div>
	</header>
	<div class="lzw_zhangbi">
		<span>substance</span>
		<span>automatic</span>
	</div>
	<div class="neirong">
		<div class="nr_1">
			<b>cssshaohaohhao</b> <b><img src="../images/LZW_love2.png"/><img src="../images/LZW_take.png" style="width: 24px;"/></b>
			<p class="LZW_xiangxi">
				
			
明白你的意思了，图品智能被重复延伸，不会放大，你的意思应该是把图片放大，你可以把图片用ps工具放大，然后在加进去，你也可以把图片弄得很小，比如说只有几个像素那样拉伸起来就不会不好看了，具体得看看你的图片是什么样子的！
追问
那如果不同的电脑分辨率不一样的话，到别的电脑上又会重复延伸了吧？
			</p>
		</div>
	</div>
	<div class="neirong">
		<div class="nr_1">
			<b>cssshaohaohhao</b> <b><img src="../images/LZW_love2.png"/><img src="../images/LZW_take.png" style="width: 24px;"/></b>
			<p class="LZW_xiangxi">
				
			
明白你的意思了，图品智能被重复延伸，不会放大，你的意思应该是把图片放大，你可以把图片用ps工具放大，然后在加进去，你也可以把图片弄得很小，比如说只有几个像素那样拉伸起来就不会不好看了，具体得看看你的图片是什么样子的！
追问
那如果不同的电脑分辨率不一样的话，到别的电脑上又会重复延伸了吧？
			</p>
		</div>
	</div>
	<div class="neirong">
		<div class="nr_1">
			<b>css背景图片等比例平铺1</b> <b><img src="../images/LZW_love2.png"/><img src="../images/LZW_take.png" style="width: 24px;"/></b>
			<!--<hr  style="height: 1px;width: 60%;color: #A668FD;background:#A668FD;margin: 0;"/>-->
			<p class="LZW_xiangxi">
				
			
明白你的意思了，图品智能被重复延伸，不会放大，你的意思应该是把图片放大，你可以把图片用ps工具放大，然后在加进去，你也可以把图片弄得很小，比如说只有几个像素那样拉伸起来就不会不好看了，具体得看看你的图片是什么样子的！
追问
那如果不同的电脑分辨率不一样的话，到别的电脑上又会重复延伸了吧？
			</p>
		</div>
	</div>
	<div class="neirong">
		<div class="nr_1">
			<b>css背景图片等比例平铺</b> <b><img src="../images/LZW_love2.png"/><img src="../images/LZW_take.png" style="width: 24px;"/></b>
			<p class="LZW_xiangxi">
				
			
自动
[词典]	automatic; voluntarily; of one's own accord; spontaneous; automatism;
[例句]王大妈盖新房，村民们自动来帮忙。
When Aunt Wang was building a new house, many villagers came of their own accord to help her.
			</p>
		</div>
	</div>
	</div>
	
	
</div>
