<div ng-controller="shouye" class="shouye">
	<div id="menu" class="menu">
		
		<header class="menu-header">
			<span class="menu-header-title" style="color: #FFFFFF;">{{user}}</span>
			<p class="hedaPhoto">
				<img src="../images/LZW_bj2.png" />
			</p>
		</header>
	
	<section class="menu-section">
		<h3 class="menu-section-title">脚本代码</h3>
		<ul class="menu-section-list">
			<li><a href="#">jQuery</a></li>
			<li><a href="#">CSS3</a></li>
			<li><a href="#">HTML5</a></li>
			<li><a href="#">动画效果</a></li>
		</ul>
	</section>

	<section class="menu-section">
		<h3 class="menu-section-title">flash动画</h3>
		<ul class="menu-section-list">
			<li><a href="#">节日动画</a></li>
			<li><a href="#">flash植物</a></li>
			<li><a href="#">flash动物</a></li>
		</ul>
	</section>

	<section class="menu-section">
		<h3 class="menu-section-title">音效下载</h3>
		<ul class="menu-section-list">
			<li><a href="#">鸟叫声</a></li>
			<li><a href="#">狗叫声</a></li>
		</ul>
	</section>
		
	</div>
	<div id="Neirong">
		<header>
		
		<div class="main  js-slideout-toggle" ><img src="../images/LZW_main.png" id="mmy"/></div>
		<h1><img src="../images/LZW_logo.png" /></h1>
		<div class="input"><img src="../images/LZW_sousuo.png"/></div>
		<div class="ul2" style="overflow: scroll;">
			<ul class="ul1" >
			<li class="baba" start="3">JQuery</li>
			<li  class="baba" start="1">JS</li>
			<li  class="baba"start="0">CSS</li>
			<li  class="baba"start="2">HTML</li>
		</ul>
		</div>
		
		<div class="push">发布</div>
	</header>
	<div class="lzw_zhangbi">
		<span>substance</span>
		<span>automatic</span>
	</div>
	<div class="neirong1">
		
	</div>
	<h2>休息一下吧,没有了0.0</h2>
	

	</div>
	
	
</div>
